<div class="meta">
  <span class="by">
    by <span class="author"><%= talk.author %></span>
  </span>

  <span class="on">
    on <time datetime="<%= talk.timestamp %>">
      <%= talk.presented_at %>
     </time>  
  </span>
  
  <span class="at">
    at <span class="venue"><%= talk.venue %></span>  
  </span>
</div>