<div class="talk-overview">
  <h2><%= link_to talk.title, talk.url %></h2>
  
  <%= partial "talks/meta", locals: { talk: talk } %>

  <p>
    <%= content_tag(:strong, "Upcoming talk:") if talk.upcoming? %>
    <%= talk.intro %>
  </p>
</div>