<div class="talk-overview">
  <h2><%= link_to talk.title, talk.url %></h2>
  
  <%= partial "talks/meta", locals: { talk: talk } %>

  <p>
    <% upcoming talk.date do %>
      <strong>Upcoming talk:</strong>
    <% end %>
    
    <%= talk.intro %>
  </p>
</div>