---
title: Secrets of Regexp
layout: talk
author: Hiro Asari
venue: Christchurch Ruby
date: 2013-02-28
intro: Regexp class is in every Rubyist's toolbox. But do you know the theory behind it, and what goes on under the hood?
---

<iframe src="http://www.slideshare.net/slideshow/embed_code/16828525" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/hiroasari/regexp-secrets" title="Regexp secrets" target="_blank">Regexp secrets</a> </strong> from <strong><a href="http://www.slideshare.net/hiroasari" target="_blank">Hiro Asari</a></strong> </div>

Regexp class is in every Rubyist's toolbox. But do you know the theory behind
it, and what goes on under the hood?

## Links
* [Slides](http://www.slideshare.net/hiroasari/regexp-secrets)
