<% wrap_layout :layout do %>

  <div class="talk">
    <h1><%= link_to current_talk.title, current_talk.url %></h1>

    <%= partial "talks/meta", locals: { talk: current_talk } %>

    <%= yield %>
  </div>

<% end %>