---
title: Enumerable in 10 Minutes
layout: talk
author: Pete Nicholls
venue: Christchurch Ruby
intro: Rubyisms with a mesmerizing mixin.
---

<% upcoming do %>
  This upcoming talk will be given on October 17th at <a href="http://christchurch.ruby.org.nz/">Newbie Night</a>.
<% end %>

[Enumerable](http://ruby-doc.org/core-2.0.0/Enumerable.html) is a fascinating mixin. Its use makes for unusual, characteristic, and expressive Ruby code.

You'll learn:

* Why Rubyists never use `for`
* Why spaceships are awesome
* Stupid tricks with lists
* How to cook teppanyaki
* How to count the uncountable
